<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>工作日志</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../static/css/layui.css">
</head>

<body>
<div class="layui-body" style="position: unset !important;">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        页面不存在
    </div>
    <blockquote class="layui-elem-quote">
        注意：你访问的页面发生错误, 你可以 <a href="/home">返回到后台首页</a>
        <!--<a href="https://www.layui.com/admin/" target="_blank" class="layui-btn layui-btn-danger">layuiAdmin</a>-->
    </blockquote>

    <blockquote class="layui-elem-quote">
        <div class="layui-card">
            <div class="layui-card-header">错误内容：</div>
            <div class="layui-card-body">
                <div th:text="${errorMsg}"></div>
            </div>
        </div>
    </blockquote>
</div>
</body>